        #libro{
          
          background: rgba(51,51,51, 0.03);
          margin: 0 auto;
          width: 700px;
          height: 450px;
          color: black;
          overflow: auto;
        }

        #libro1{
          float: right;
          background: rgba(51,51,51, 0.03);
          margin: 0 auto;
          width: 700px;
          color: black;
          overflow: auto;
        }

        #enlace{
          margin-bottom: 100px;
          float: right;
          background: white;
          height: auto;
          width: 630px;
          color: black;
          margin:0 35px 0 0;
        }