.grid_1{width:60px;}
.grid_2{width:150px;}
.grid_3{width:220px;}
.grid_4{width:300px;}
.grid_5{width:380px;}
.grid_6{width:480px;}
.grid_7{width:590px}
.grid_8{width:660px;}
.grid_9{width:700px;}
.grid_10{width:810px;}
.grid_11{width:860px;}
.grid_12{width:960px;}

.column{
    margin: 0px 0px;
    overflow: hidden;
    float: left;
    display: inline;
}
.row{
    width:960px;
    margin:auto;    
    overflow: hidden;
}
.row .row{
    margin: 0 0px;
    width:auto;
    display: inline-block;
}
div#content_page{
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width:960px;
    margin:auto auto auto auto;
    overflow: auto;
    position: relative;
    background-color:rgba(0,0,0,0.4);
    height: 100%;
}
.bg-body{
    background-color: #1d1d1d !important;
}
.bg-grid{
    background: green;
}
.mar-top-content{
    margin-top: 150px;
    width: 500px;
    margin-left: 250px;
}
.mar-top-content-register{
    margin-top: 100px;
}
/* estilos de login*/
.bg-login{
    background: #f82f9f;
}
.bg-slider-login{
    margin: 10px 10px 10px 20px;
}
.bg-captura-user{
    background-color:rgba(0,0,0,0.8);
}
.mar-title-login h2{
    margin-top:10px; 
    text-align: center;
    color: #fff;
}
.alig-bot-invitado{
    margin-top: 30px;
    margin-left: 180px;
}
.alig-bot-admin{
    margin-left: 155px;   
}
.bg-pass p{
    color: orange !important;
}
.bg-registro p{
    color: pink !important;
}
.mar-form-login{
    margin-top: 14px;
}
.tam-cont-input{
    margin: 0px auto;
    width: 300px;
}
.color-error-sesion{
    width: 100%;
    height: 20px;
    margin-top: 30px;
}
.color-error-sesion p{
    color: red !important;
    text-align: center;
}
/*estilo de contraseña actualizada*/
.color-pass-update{
    width: 100%;
    height: 20px;
    margin-top: 30px;
}
.color-pass-update p{
    color: green !important;
    text-align: center;
}
/*estilo de contraseña actualizada*/
.pos-error-registros{
    width: 100%;
    height: 20px;
}
.pos-error-registros p{
    color: #C85305 !important;
    text-align: left;
    padding-top: 0px;
}
.hr-tam{
    width: 200px;
    margin: 0px auto;
}
.alig-bot-registro{
    margin-left: 485px;
}

.pos-can-registro{
    position: relative;
    float: left;
    margin-left: 315px;
}

/*estilo de recuperar contraseña*/
.pos-bot-recup-passwd{
    position: relative;
    float: left;
    margin-left: 85px;   
}
.alig-bot-recup-passwd{
    margin-left: 275px;   
}
.alig-lib-rev{
    margin: 5px 0px 0px 18px;
}

.flotar-revis{
    position: absolute;
    margin-left: 330px;
    margin-top: -25px;
}
.border-content{
    border-left: 1px;
    border-right: 1px;
    height: 100%;
}

.men-act-revision{
    margin: 5px 5px -40px 5px;
}
.color-revi-act{
    color: green;
}
/*fondo del contenido*/
.back-cont{
    background-color:rgba(0,0,0,0.4);
    height: 100%;
}
/**/